.googletitle{
    color: #1e0fbe;
    font-size: 18px!important;
    padding-top:20px!important;
}

.googledescription{
    color: #545454;
    line-height: 1.4;
    word-wrap: break-word;
}

.googleurl{
    line-height: 16px;
    color: #006621;
    font-style: normal;
}